<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
    <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
        <listEntry value="/openjsip/src/openjsip/registrar/Registrar.java"/>
    </listAttribute>
    <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
        <listEntry value="1"/>
    </listAttribute>
    <booleanAttribute key="org.eclipse.jdt.launching.ATTR_ATTR_USE_ARGFILE" value="false"/>
    <booleanAttribute key="org.eclipse.jdt.launching.ATTR_SHOW_CODEDETAILS_IN_EXCEPTION_MESSAGES" value="true"/>
    <booleanAttribute key="org.eclipse.jdt.launching.ATTR_USE_CLASSPATH_ONLY_JAR" value="false"/>
    <booleanAttribute key="org.eclipse.jdt.launching.ATTR_USE_START_ON_FIRST_THREAD" value="true"/>
    <stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="openjsip.registrar.Registrar"/>
    <stringAttribute key="org.eclipse.jdt.launching.MODULE_NAME" value="openjsip"/>
    <stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="conf/registrar.properties"/>
    <stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="openjsip"/>
    <stringAttribute key="org.eclipse.jdt.launching.VM_ARGUMENTS" value="-Djava.security.policy=policy/policy.all&#10;-Djava.rmi.server.codebase=&quot;file://${workspace_loc:openjsip}/lib/openjsip-remote.jar file://${workspace_loc:openjsip}/lib/jain-sip-api-1.2.jar&quot;"/>
</launchConfiguration>
